<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>angular bootstrap</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>


<body ng-controller="TabsDemoCtrl">
<div class="hero" >
    <div class="container">
        <form class="find-location">
            <input type="text" placeholder="Enter Address or Zip Code" ng-model="location">
            <button class ng-click="todo()">Find</button>
        </form>
    </div>
</div>

<div class="down">
    <div >
        <uib-tabset active="active">
            <uib-tab heading="Today's Forecast" >
                    <div ng-bind-html="tab1content"></div>
            </uib-tab>
            <uib-tab heading="Five Day Forecast" >
                <div ng-bind-html="tab2content"></div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

</body>
</html>